.big {
  font-size: 50px;
}
body, html {
  background-color: black !important;
  color: white !important;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif !important;
}

#outlined-basic {
  background-color: gray;
}

.form-group {
display: flex !important;

flex-direction: column;
margin-bottom: 10px;

}

.chat {
  font-size: 2rem;
  color: #005073;
  font-weight: 100px !important;
  
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color:#212529;
  color: white;
  align-items: center;
  margin-top: 20vh;

  
}

.footer p {
  padding: 0 !important;
}